# folder
/wandb
**/lightning_logs
**/predicted_images
**/predictions/
**/labels/
**/figures/
**/with_polygons/
**/dropped_polygons/
**/for_annotation/
**/results_backup/

# files
**.csv
**.pyc
**.log
**.wandb
**.yaml
**.txt
**.tif